body {
 background-color: hsl(212, 45%, 89%);
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.main {
 background-color: hsl(0, 0%, 100%);
 width: 330px;
 height: auto;
 border-radius: 15px;
 display: flex;
 flex-direction: column;
}

.code {
 margin: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.qr_code {
 width: 300px;
 height: 300px;
 border-radius: 10px;
}

.content {
 font-family: 'Outfit', sans-serif;
 text-align: center;
 padding: 0 35px 0 35px;
 margin-bottom: 25px;
}

.content1 {
 font-size: 18px;
 font-weight: 800;
 color: hsl(218, 44%, 22%);
 margin-top: 10px;
}

.content2 {
 font-size: 15px;
 font-weight: 400;
 color: hsl(220, 15%, 55%);
 line-height: 18px;
}